.main-container{
  position: fixed;
  top: 56px;
  bottom:0;
  left: 0;
  right:0;
  display: flex;
}
.sidebar-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: #f8f9fa;
    height: 100%;
}
.margin-left {
  margin-left: 8px;
}
.margin-left-18 {
  margin-left: 8px;
}
.ml{
  margin-left: 8px;
}
.ml-16{
  margin-left:16px;
}
.margin-right {
  margin-right: 8px;
}
.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.table{
  width: auto;
  /*height: 50%;*/
}
.row{
  
  margin:10px;
}
.error-container{
  margin-top: 3rem;
  display: flex;
  width: auto;
}

.cell{
  background-color: #e5e5e5;
  border-radius: 5px;
}
.user-info{
  color:white;
}
.user-info p{
  margin-bottom: 0;
  font-size: smaller;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar{
  z-index: 99999;
}
.prenoted{
  background-color: yellow !important;
}

.buyed{
  background-color: red;
}
.free{
  background-color: green;
}